{% extends "GoVoyageBundle:Default:backoffice.html.twig" %}

{% block ajout_croi %}
 <div class="box">
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
               
       
             
          <thead>
    <tr> 
        <td> Prix</td>
        <td> nombre place </td>
        <td> date vol </td>
        <td> pays destination </td>
        <td> pays depart </td>
        <td> description </td>
        <td> nomvol </td>
        
        <td> Creation D'offre </td>
    </tr>
    
   {% for x in vol %}
        <tr>
        <td>{{x.prix}}</td>    
        <td>{{x.nombreplace}}</td>
        <td>{{x.datevol|date('Y/M/D')}}</td>
        <td>{{x.paysdestination}}</td>
        <td>{{x.paysdepart}}</td>
        <td>{{x.description}}</td>
        <td>{{x.nomvol}}</td>
        <td><a href="{{path("go_voyage_ajout_offre_vol",{idvol:x.idvol})}}">Ajout Offre</a></td>

        
        </tr>
        
        
    {% endfor %}
    </table>
    
            </div>
    </div>
    
    {% endblock %}